{{ define "main" }}
	<main>
		<article>
			<header class="masthead">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-10 col-lg-8 mx-auto">

	            </div>
	        </div>
	    </header>
			<article>
					<div class="container">
							<div class="row">
									<div class="col-md-10 col-lg-8 mx-auto">
										<div class="post-heading">
										<h1>{{ .Title }}</h1>
											<h2 class="subheading"></h2><span class="meta">Posted on <time>{{ .Date.Format "January 2, 2006" }}</time> by {{ .Params.author }}
											</span>
											<div>

												Tagged as:
												{{ range $i, $e := (.GetTerms "tags") }}{{ if $i }} | {{ end }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}

										 </div>
																			</div>
										{{ .Content }}
									</div>
							</div>
					</div>

		</article>

	</main>
{{ end }}
