{{ define "main" }}
	<main>
		<article>
			<header class="masthead" style="background-image:url('{{ .Params.image }}');">
	        <div class="overlay"></div>
	        <div class="container">
	            <div class="row">
	                <div class="col-md-10 col-lg-8 mx-auto">
	                    <div class="post-heading">
												<h1>{{ .Title }}</h1>
	                        <h2 class="subheading"></h2><span class="meta">Posted on <time>{{ .Date.Format "January 2, 2006" }}</time>
</span></div>
	                </div>
	            </div>
	        </div>
	    </header>
			<article>
					<div class="container">
							<div class="row">
									<div class="col-md-10 col-lg-8 mx-auto">
										{{ .Content }}
									</div>
							</div>
					</div>

		</article>
	</main>
{{ end }}
