{{ define "main" }}
<header class="masthead" style="background-image:url('https://cdn.honeybadgers.tech/video/Honeybadger-Color.png');">
		<div class="overlay"></div>
		<div class="container">
				<div class="row">
						<div class="col-md-10 col-lg-8 mx-auto">
								<div class="site-heading">
										<h1></h1><span class="subheading">{{.Description}}</span></div>
						</div>
				</div>
		</div>
</header>
<div class="container">
	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
			{{ range $paginator.Pages }}
		<div class="row">
				<div class="col-md-10 col-lg-8">
					{{ .Render "summary" }}
						<hr>
						</div>
		</div>
				{{ end }}
</div>

		{{ partial "pagination.html" . }}
{{ end }}
